{% extends "dashboard.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<div class="large container">
    <form class="large" method="post">
        <label for="course_name" style="font-size: 1rem;color: var(--primary);">Course:</label>
        <select name="course_name" id="course_name_dropdown">
            {% for course in courses %}
                <option value="{{ course }}">{{ course }}</option>
            {% endfor %}
        </select>
        <input type="text" name="subject_name" id="course_full_form_input" placeholder="Subject Name"><br>
        <input type="number" name="semester" id="semester_input" placeholder="Semesters" min="1" max="6"><br>
        <button type="submit" class="button">Add Subject</button>
    </form>
</div>

{% endblock %}