{% extends "dashboard.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<div class="large container">
    <form class="large" method="post">
        <input type="number" name="question_id" id="question-id-input"placeholder="Question ID" class="small">
        <input type="number" name="semester" id="semester-input" min="1" max="6" placeholder="Semester" class="small">
        <input type="text" name="subject" id="subject-input" placeholder="Subject"><br>
        <button type="submit" class="button">Delete</button>
    </form>
</div>
{% endblock %}