{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>Login</h1>
    <form action="" method="post" class="large">
        <input type="text" name="login_id" id="login-id-input" placeholder="Login ID" required>
        <input type="password" name="password_login" id="password-login-input" placeholder="Password" required><br>
        <button type="submit" class="button">Login</button>
        <p><b>Note: </b>Login ID for students is UUCMS Registration Number and for Faculties it is Faculty ID</p>
    </form>
</div>
{% endblock %}