{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>Login</h1>
    <form action="" method="post" class="large">
        <input type="text" name="rollno_login" id="rollno-login-input" placeholder="UUCMS Registration Number">
        <input type="password" name="password_login" id="password-login-input" placeholder="Password"><br>
        <button type="submit" class="button">Login</button>
        <a href="/register" class="row-flex">
            <i></i>
            Don't have an Account
        </a>
    </form>
</div>
{% endblock %}