{% extends "dashboard.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<div class="large container">
    <form action="" method="post" class="large">
        <input type="text" name="faculty_id" id="faculty-id-input" placeholder="Faculty ID" required>
        <input type="text" name="faculty_name" id="fullname-registration-input" placeholder="Faculty Name" required>
        <input type="email" name="faculty_email" id="email-registration-input" placeholder="Email" required>
        <input type="password" name="password" id="password-registration-input" placeholder="Password" required>
        <input type="password" name="confirm_password" id="confirm-password-registration-input" placeholder="Confirm Password" required><br>
        <button type="submit" class="button">Add Faculty</button>
    </form>
</div>
{% endblock %}