input[type="email"], input[type="text"], input[type="password"], input[type="number"], input[type="file"],textarea{
    width: 70%;
    padding: 0.5rem;
    
    background-color: transparent;
    color: var(--primary);
    font-family: var(--font-family-02);

    border: 0px;
    border-bottom: 0.1rem solid var(--primary);
    outline: none;
    
}

input[type="email"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder,input[type="number"]::placeholder,textarea::placeholder{
    color: var(--primary-glass);
}

input[type="radio"], input[type="checkbox"]{
    accent-color: var(--primary);
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

select{
    width: 30%;
    padding: 0.5rem;

    background-color: transparent;
    color: var(--text);
    outline: none;
    border: 0px;

    font-family: var(--font-family-02);
    font-weight: 500;

}

option{
    background-color: var(--background);
    color: var(--accent);
    border: none;
    outline: none;
}

option:active{
    background-color: var(--primary);
    color: var(--text);
}