@media (prefers-color-scheme: light) {
    :root {
        --text: #1a140d;
        --background: #fdfcfa;
        --primary: #d39037;
        --secondary: #f0c183;
        --accent: #f9ac48;

        --primary-glass: #d3903750;
        --secondary-glass: #f0c18350;
        --accent-glass: #f9ac4850;



        --color-01: #d1603d;
        --color-02: #ddb967;
        --color-03: #d0e37f;
        --color-04: #ffd046;
        --color-05: #7dde92;

        --font-family-01: "Righteous", sans-serif;
        --font-family-02: "Poppins", sans-serif;
        
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #f1ebe4;
        --background: #040301;
        --primary: #c9852c;
        --secondary: #7b4c0f;
        --accent: #b76a06;

        --primary-glass: #c9852c50;
        --secondary-glass: #7b4c0f50;
        --accent-glass: #b76a0650;

        
        --color-01: #d1603d;
        --color-02: #ddb967;
        --color-03: #d0e37f;
        --color-04: #ffd046;
        --color-05: #7dde92;

        --font-family-01: "Righteous", sans-serif;
        --font-family-02: "Poppins", sans-serif;
    }
}
