@media (prefers-color-scheme: light) {
    :root {
        --text: #0e0f10;
        --background: #e5e9f0;
        --primary: #25446f;
        --secondary: #77a6e9;
        --accent: #0769f2;
        
        --primary-flass: #25446f50;
        --secondary-flass: #77a6e950;
        --accent-flass: #0769f250;
        
        --color-01: #d1603d;
        --color-02: #ddb967;
        --color-03: #d0e37f;
        --color-04: #ffd046;
        --color-05: #7dde92;

        --font-family-01: "Righteous", sans-serif;
        --font-family-02: "Poppins", sans-serif;
        
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #eff0f1;
        --background: #0f131a;
        --primary: #90afda;
        --secondary: #164688;
        --accent: #0d6ef8;

        --primary-glass: #90afda50;
        --secondary-glass: #16468850;
        --accent-glass: #0d6ef850;
        
        --color-01: #d1603d;
        --color-02: #ddb967;
        --color-03: #d0e37f;
        --color-04: #ffd046;
        --color-05: #7dde92;

        --font-family-01: "Righteous", sans-serif;
        --font-family-02: "Poppins", sans-serif;
    }
}
